@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

.text-heading {
    @include typography($font-family-primary, 2.5rem, 700);
    text-transform: uppercase;
    color: $white;
}

.text-body {
    @include typography($font-family-secondary, 0.938rem, 150);
    color: $white;
}

.button-text-orange {
    @include typography($font-family-secondary, 0.938rem, 400);
    color: $bright-orange;
}

.button-text-cyan {
    @include typography($font-family-secondary, 0.938rem, 400);
    color: $dark-cyan;
}

.button-text-dark-cyan {
    @include typography($font-family-secondary, 0.938rem, 400);
    color: $dark-cyan;
}