$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

$white: hsl(0°, 0%, 100%);
$light-white: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);


$font-family-primary: 'Big Shoulder', sans-serif;
$font-family-secondary: 'Lexend Deca', sans-serif;